.footer{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: beige;
}

.footer span{
    font-weight: bold;
    color:rgb(105, 178, 227);;
}